$class: ds-alert;
$primary: blue;
$warning: orange;
$danger: red;

.#{$class} {
  padding: 16px;
  display: grid;
  gap: 8px;
  color: $primary;
  background-color: rgba($primary, 0.1);
  border-radius: 8px;
  font-size: 1rem;

  &--header {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &--title {
    margin: 0;
    font-size: 16px;
  }

  &--description {
    color: black;
    margin: 0;
  }

  &--primary {
    background-color: rgba($primary, 0.1);
    color: $primary;
  }
  &--warning {
    background-color: rgba($warning, 0.1);
    color: $warning;
  }
  &--danger {
    background-color: rgba($danger, 0.1);
    color: $danger;
  }
}
